<main>
  <article>
    <h2>{{MONTHS[NOW.getMonth()] + ' ' + CURRENT_YEAR}}</h2>
    <section>
      <h3 *ngFor="let day of DAYS_OF_WEEK">{{day}}</h3>
    </section>
    <span *ngFor="let span of [].constructor(countSpace())"></span>
    <time *ngFor="let span of [].constructor(lastDayOfMonth().getDate());let i=index"
          [class.now]="(i+1)===NOW.getDate()" [class.before]="(i+2)<=NOW.getDate()" (click)="selectDay($event)"
          [ngClass]="status ? 'selected' : ''">{{i + 1}}</time>
    <!--new Array(6) ===> [ , , , , , ]-->
    <!--[].constructor(6) ===> [ , , , , , ]-->
    <section><span class="busy"></span>&nbsp;date&nbsp;indisponible <span></span>&nbsp;date&nbsp;disponible <span class="selected"></span>&nbsp;date&nbsp;sélectionnée</section>
  </article>
</main>
