<nav>
  <a (click)="toggleMenu()" id="menu-button" title="Menu"><img src="../assets/img/bars-solid.svg" alt=""/></a>
  <a routerLink="/home" title="Accueil"><img src="../assets/img/home-solid.svg" alt=""/></a>
  <a routerLink="/search" title="Recherche"><img src="../assets/img/search-solid.svg" alt=""/></a>
  <a routerLink="/calendar" title="Calendrier"><img src="../assets/img/calendar-alt-regular.svg" alt=""/></a>
  <a href="#" title="Mail"><img src="../assets/img/envelope-open-text-solid.svg" alt=""/></a>
  <a href="#" title="Paramètres"><img src="../assets/img/cog-solid.svg" alt=""/></a>
  <a class="apart" routerLink="/formulaire" title="Connexion"><img src="../assets/img/sign-in-alt-solid.svg" alt=""/></a>
<!--  <a class="apart" href="logout.html" title="Déconnexion"><img src="../assets/img/sign-out-alt-solid.svg" alt=""/></a>-->
</nav>

