:host {
  & > nav {
    position: fixed;
    display: inline-block;
    top: 0;
    height: var(--nv-height);
    z-index: var(--z-index-frame);
    background-color: var(--nv-bgc);
    text-align: center;
    font-family: 'Chewy', cursive;
    font-size: 0;
    margin: 0;

    & > a {
      position: relative;
      font-size: 1rem;
      margin: 0;
      cursor: pointer;
    }
  }

}

@media screen and (min-width: 801px) {
  :host {
    & > nav {
      --nv-height: 100%;
      width: var(--nv-width);
      min-width: var(--nv-min-width);
      padding: var(--nv-padding) 0;

      &.collapsed {
        --nv-width: 0;

        & > a:after {
          content: '';
        }
      }

      & > a {
        display: block;
        height: calc(100vh / 6);
        line-height: calc(100vh / 6);
        margin: 0;
        text-decoration: none;
        color: var(--mn-bgc);

        & > img {
          height: calc(100vh / 18);
        }

        &:hover {
          transform: scale(1.1);
        }

        &.apart {
          z-index: 1;
          position: absolute;
          top: var(--nv-padding);
          left: calc(100vw - 100%);
          border-radius: 10%;
          background-color: var(--nv-bgc);
          width: var(--nv-min-width);
        }
      }
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  :host {
    & > nav {
      --nv-height: 10%;
      display: inline-block;
      width: 100%;
      padding: 0 var(--nv-padding);

      &.collapsed {
        --nv-width: 0;

        & > a:after {
          content: '';
        }
      }

      & > a {
        display: inline-block;
        width: calc(100vw / 7);
        text-decoration: none;
        color: var(--mn-bgc);
        top: 50%;
        transform: translateY(-50%);

        &#menu-button {
          display: none;
        }

        & > img {
          height: calc(100vh / 18);
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  :host {
    & > nav {
      --nv-height: 70px;
      display: block;
      width: 70px;
      padding: 0 var(--nv-padding);
      margin-left: -5px;
      border-radius: 10%;
      user-select: none;

      & > a:after {
        content: attr(title);
        display: inline-block;
        width: 150px;
        line-height: 60px;
        text-align: center;
        transform: translateX(70px);
        background-color: var(--nv-bgc);
      }

      & > a#menu-button:after {
        content: "";
      }


      & > a {
        position: relative;
        display: none;
        height: 60px;
        text-decoration: none;
        color: var(--mn-bgc);
        background-color: var(--nv-bgc);

        &:nth-of-type(2):after {
          border-radius: 0 10% 0 0;
        }
        &:last-of-type {
          border-radius: 0 0 0 10%;

          &:after {
            border-radius: 0 0 10% 0;
          }
        }

        &#menu-button {
          display: block;
        }

        & > img {
          position: absolute;
          height: calc(100vh / 20);
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
          margin: 5px;
        }
      }

      &.expanded > a {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1101px) {
  nav > a:after {
    content: attr(title);
    display: inline-block;
    width: 80px;
    text-align: center;
    transform: translateY(-12%);
    margin: 0;
  }
  nav > a.apart:after {
    content: '';
  }
}

