<main>

  <h1>Liste des profils qui peuvent m'intéresser</h1>
  <article>
    <section>
      <form method="post">
        <label (click)="closemenu()" >Tous <input  name ="search" type="radio" checked="checked" class="radio"></label>
        <label >trier par <input  name ="search" type="radio" (click)="open_menu()"  class="radio"> </label>
        <label class="advenced">  <select>
          <option>Expérience</option>
        </select> disponible du <input type="date"> au <input type="date"></label>
        <button type="submit">valider</button>
      </form>
    </section>
  </article>

  <article>
    <section>
      <img src="../assets/img/user.svg"></section>
    <section><h2>Nom Prénom Âge</h2>
      <h3>5 ans d'expérience</h3>
      <img src="../assets/img/dog.svg">
      <img src="../assets/img/fox.svg">
      <img src="../assets/img/cat.svg">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet laboriosam minima nemo numquam
        obcaecati qui rerum ullam. Alias cum deleniti esse eum fuga, impedit itaque libero placeat porro quisquam.
        A at, dolorem illum ipsam itaque minus mollitia nesciunt nisi odit placeat quibusdam quo quos temporibus!
        Accusamus beatae consequuntur, deleniti ducimus iusto laboriosam libero praesentium suscipit. Earum maxime
        nesciunt similique.
      </p>
      <span>disponible le 30 janvier</span>
    </section>
    <section>
      <button>voir le profil</button>
      <button>réserver</button>
    </section>
  </article>
  <article>
    <section>
      <img src="../assets/img/user.svg"></section>
    <section><h2>Nom Prénom Âge</h2>
      <h3>5 ans d'expérience</h3>
      <img src="../assets/img/dog.svg">
      <img src="../assets/img/fox.svg">
      <img src="../assets/img/cat.svg">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet laboriosam minima nemo numquam
        obcaecati qui rerum ullam. Alias cum deleniti esse eum fuga, impedit itaque libero placeat porro quisquam.
        A at, dolorem illum ipsam itaque minus mollitia nesciunt nisi odit placeat quibusdam quo quos temporibus!
        Accusamus beatae consequuntur, deleniti ducimus iusto laboriosam libero praesentium suscipit. Earum maxime
        nesciunt similique.
      </p>
      <span>disponible le 29 janvier</span>
    </section>
    <section>
      <button>voir le profil</button>
      <button>réserver</button>
    </section>
  </article>
  <article>
    <section>
      <img src="../assets/img/user.svg"></section>
    <section><h2>Nom Prénom Âge</h2>
      <h3>5 ans d'expérience</h3>
      <img src="../assets/img/dog.svg">
      <img src="../assets/img/fox.svg">
      <img src="../assets/img/cat.svg">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet laboriosam minima nemo numquam
        obcaecati qui rerum ullam. Alias cum deleniti esse eum fuga, impedit itaque libero placeat porro quisquam.
        A at, dolorem illum ipsam itaque minus mollitia nesciunt nisi odit placeat quibusdam quo quos temporibus!
        Accusamus beatae consequuntur, deleniti ducimus iusto laboriosam libero praesentium suscipit. Earum maxime
        nesciunt similique.


      </p>
      <span>disponible le 28 janvier</span>
    </section>
    <section>
      <button>voir le profil</button>
      <button>réserver</button>
    </section>
  </article>

  <article>
    <section>
      <img src="../assets/img/user.svg"></section>
    <section><h2>Nom Prénom Âge</h2>
      <h3>5 ans d'expérience</h3>
      <img src="../assets/img/dog.svg">
      <img src="../assets/img/fox.svg">
      <img src="../assets/img/cat.svg">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet laboriosam minima nemo numquam
        obcaecati qui rerum ullam. Alias cum deleniti esse eum fuga, impedit itaque libero placeat porro quisquam.
        A at, dolorem illum ipsam itaque minus mollitia nesciunt nisi odit placeat quibusdam quo quos temporibus!
        Accusamus beatae consequuntur, deleniti ducimus iusto laboriosam libero praesentium suscipit. Earum maxime
        nesciunt similique.


      </p>
      <span>disponible le 28 janvier</span>
    </section>
    <section>
      <button>voir le profil</button>
      <button>réserver</button>
    </section>
  </article>
  <article>
    <section>
      <img src="../assets/img/user.svg"></section>
    <section><h2>Nom Prénom Âge</h2>
      <h3>5 ans d'expérience</h3>
      <img src="../assets/img/dog.svg">
      <img src="../assets/img/fox.svg">
      <img src="../assets/img/cat.svg">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet laboriosam minima nemo numquam
        obcaecati qui rerum ullam. Alias cum deleniti esse eum fuga, impedit itaque libero placeat porro quisquam.
        A at, dolorem illum ipsam itaque minus mollitia nesciunt nisi odit placeat quibusdam quo quos temporibus!
        Accusamus beatae consequuntur, deleniti ducimus iusto laboriosam libero praesentium suscipit. Earum maxime
        nesciunt similique.


      </p>
      <span>disponible le 28 janvier</span>
    </section>
    <section>
      <button>voir le profil</button>
      <button>réserver</button>
    </section>
  </article>
  <article>
    <section>
      <img src="../assets/img/user.svg"></section>
    <section><h2>Nom Prénom Âge</h2>
      <h3>5 ans d'expérience</h3>
      <img src="../assets/img/dog.svg">
      <img src="../assets/img/fox.svg">
      <img src="../assets/img/cat.svg">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet laboriosam minima nemo numquam
        obcaecati qui rerum ullam. Alias cum deleniti esse eum fuga, impedit itaque libero placeat porro quisquam.
        A at, dolorem illum ipsam itaque minus mollitia nesciunt nisi odit placeat quibusdam quo quos temporibus!
        Accusamus beatae consequuntur, deleniti ducimus iusto laboriosam libero praesentium suscipit. Earum maxime
        nesciunt similique.


      </p>
      <span>disponible le 28 janvier</span>
    </section>
    <section>
      <button>voir le profil</button>
      <button>réserver</button>
    </section>
  </article>
  <article>
    <section>
      <img src="../assets/img/user.svg"></section>
    <section><h2>Nom Prénom Âge</h2>
      <h3>5 ans d'expérience</h3>
      <img src="../assets/img/dog.svg">
      <img src="../assets/img/fox.svg">
      <img src="../assets/img/cat.svg">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet laboriosam minima nemo numquam
        obcaecati qui rerum ullam. Alias cum deleniti esse eum fuga, impedit itaque libero placeat porro quisquam.
        A at, dolorem illum ipsam itaque minus mollitia nesciunt nisi odit placeat quibusdam quo quos temporibus!
        Accusamus beatae consequuntur, deleniti ducimus iusto laboriosam libero praesentium suscipit. Earum maxime
        nesciunt similique.


      </p>
      <span>disponible le 28 janvier</span>
    </section>
    <section>
      <button>voir le profil</button>
      <button>réserver</button>
    </section>
  </article>
  <article>
    <section>
      <img src="../assets/img/user.svg"></section>
    <section><h2>Nom Prénom Âge</h2>
      <h3>5 ans d'expérience</h3>
      <img src="../assets/img/dog.svg">
      <img src="../assets/img/fox.svg">
      <img src="../assets/img/cat.svg">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eveniet laboriosam minima nemo numquam
        obcaecati qui rerum ullam. Alias cum deleniti esse eum fuga, impedit itaque libero placeat porro quisquam.
        A at, dolorem illum ipsam itaque minus mollitia nesciunt nisi odit placeat quibusdam quo quos temporibus!
        Accusamus beatae consequuntur, deleniti ducimus iusto laboriosam libero praesentium suscipit. Earum maxime
        nesciunt similique.


      </p>
      <span>disponible le 28 janvier</span>
    </section>
    <section>
      <button>voir le profil</button>
      <button>réserver</button>
    </section>
  </article>


  <article>
    <section><span>prévious</span>
      <span>Page 1/50</span>
      <span>next</span></section>
  </article>
</main>
