main {

  & h1 {
    text-align: center;
  }

  & article:first-of-type {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    background-color: #FFAA80;

    & form {
      padding: 1%;
      width: 90%;
      margin: auto;

      & input, select {
        margin-left: 2%;
        margin-right: 2%;
        padding: 1%;
        border: 5px solid #4E901E;
        border-radius: 10px;
      }


      & button {
        width: 10%;
        margin: 2%;
        padding: 1%;
        color: white;
        background-color: #EB611C;
        font-size: 1.5em;
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
      }

      & button:hover {
        border: 5px solid #EB611C;
        background-color: white;
        color: #EB611C;
        transition: .4s;
        cursor: pointer;
      }
    }
  }

  & article:nth-of-type(1n +2) {
    width: 90%;
    display: flex;
    margin: auto;
    border-bottom: 5px solid #EB611C;


    & section {
      margin: 2%;
      text-align: right;

      & img {
        width: 8%;
      }
    }


    & section:nth-of-type(2) {
      width: 60%;
      text-align: left;
    }

    & section:nth-of-type(3) {
      width: 20%;

      & button {
        width: 20%;
        margin: 2%;
        padding: 1%;
        color: white;
        font-size: 1.5em;
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
      }

      & button:first-of-type {
        background-color: #4E901E;
        box-sizing: border-box;
        padding: 5%;
        width: 100%;
      }

      & button:first-of-type:hover {
        border: 5px solid #4E901E;
        background-color: white;
        color: #4E901E;
        transition: .4s;
      }

      & button:nth-of-type(2) {
        background-color: #EB611C;
        box-sizing: border-box;
        padding: 5%;
        width: 100%;
      }

      & button:nth-of-type(2):hover {
        border: 5px solid #EB611C;
        background-color: white;
        color: #EB611C;
        transition: .4s;
      }
    }

    & section:first-of-type {
      width: 20%;

      & img {

        text-align: right;
        padding: 5%;
        width: 30%;
        border-radius: 100%;
        background-color: #FFAA80;
      }
    }
  }

  & article:nth-of-type(10) {
    margin: auto;
    text-align: center;

    & section:first-of-type {
      width: 100%;
      text-align: center;

      & span {
        margin-left: 2%;
        margin-right: 2%;
      }
    }
  }

  /*************************************************************mobile*****************************************************/

  @media screen and(max-width: 500px) {
    margin-left: 0;

    & h1 {
      margin-top: 15%;
      margin-bottom: 5%;
    }


    & article:first-of-type {
      width: 100%;
      margin-bottom: 5%;

      & section {

        & form {
          display: inline-block;
          width: 90%;
          text-align: center;
          padding-left: 3%;
          padding-right: 3%;

          & input {
            padding: 2%;
            width: 10%;
          }

          button {
            width: 100%;
            padding: 5%;

          }
        }
      }
    }

    & article:nth-of-type(1n +2) {
      width: 100%;
      flex-wrap: wrap;
      margin: auto;
      border-bottom: 5px solid #EB611C;


      & section {
        margin: auto;
        text-align: center;
      }


      & section:nth-of-type(2) {
        width: 90%;
        text-align: center;

        & p {
          text-align: left;
        }

        & h2, h3 {
          text-align: center;
        }

        & img {
          width: 20%;
        }
      }

      & section:nth-of-type(3) {
        width: 90%;
        margin: 5% auto;

        & button {
          width: 90%;
          margin: 2% 0 0;
        }
      }

      & section:first-of-type {
        width: 100%;
        margin-top: 5%;

        & img {
          width: 10%;

        }
      }
    }
    & article:nth-of-type(10) {
      padding-bottom: 5%;

      & section:first-of-type {
        width: 100%;
      }
    }

  }

  /**********************************************************tablette****************************************************/
  @media screen and(min-width: 501px) and(max-width: 800px) {

    margin-left: 0;

    & h1 {
      margin-top: 15%;
    }

    & article:first-of-type {
      width: 100%;
      margin-bottom: 5%;

      & section {

        & form {

          width: 90%;

          & input {
            padding: 2%;
          }

          button {
            width: 50%;
            padding: 3%;

          }
        }
      }
    }


    & article:nth-of-type(1n +2) {
      width: 100%;
      flex-wrap: wrap;
      margin: auto;
      border-bottom: 5px solid #EB611C;


      & section {
        margin: auto;
        text-align: center;
      }


      & section:nth-of-type(2) {
        width: 90%;
        text-align: center;

        & p {
          text-align: left;
        }

        & h2, h3 {
          text-align: center;
        }

        & img {
          width: 15%;
        }
      }

      & section:nth-of-type(3) {
        width: 90%;
        margin: 5% auto;
        display: inline-block;

        & button {
          margin: 2% 0 0;
        }
      }

      & section:first-of-type {
        width: 100%;
        margin-top: 5%;

        & img {
          width: 10%;

        }
      }
    }
    & article:nth-of-type(10) {
      padding-bottom: 5%;

      & section:first-of-type {
        width: 100%;
      }
    }
  }
}

