main {

  & h1 {
    text-align: center;
  }

  & article:first-of-type {
    width: 90%;
    margin: auto;
    border-radius: 10px;
    background-color: #FFAA80;


    & form {
      padding: 10px;
      width: 80%;
      margin: auto;


      .advenced {
        display: none;
      }

      & input, select {
        padding: 20px;
        border: 5px solid #4E901E;
        border-radius: 10px;

      }

      & .radio {
        margin: 10px;
      }

      & button {
        width: 10%;
        padding: 20px;
        color: white;
        background-color: #EB611C;
        font-size: 1.5em;
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
        margin: auto auto auto 10px;
      }

      & button:hover {
        border: 5px solid #EB611C;
        background-color: white;
        color: #EB611C;
        transition: .4s;
        cursor: pointer;
      }
    }
  }

  & article:nth-of-type(1n +2) {
    width: 90%;
    display: flex;
    margin: auto;
    border-bottom: 5px solid #EB611C;


    & section {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: right;

      & img {
        width: 5%;

      }
    }


    & section:nth-of-type(2) {
      width: 60%;
      text-align: left;
    }

    & section:nth-of-type(3) {
      width: 20%;

      & button {
        width: 20%;
        margin: 10px;
        padding: 20px;
        color: white;
        font-size: 1.5em;
        border: none;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
      }

      & button:first-of-type {
        background-color: #4E901E;
        box-sizing: border-box;
        padding: 30px;
        width: 100%;
      }

      & button:first-of-type:hover {
        border: 5px solid #4E901E;
        background-color: white;
        color: #4E901E;
        transition: .4s;
      }

      & button:nth-of-type(2) {
        background-color: #EB611C;
        box-sizing: border-box;
        padding: 30px;
        width: 100%;

      }

      & button:nth-of-type(2):hover {
        border: 5px solid #EB611C;
        background-color: white;
        color: #EB611C;
        transition: .4s;
      }
    }

    & section:first-of-type {
      width: 20%;
      text-align: center;

      & img {
        margin-top: 25%;
        margin-bottom: 25%;
        padding: 20px;
        width: 30%;
        border-radius: 100%;
        background-color: #FFAA80;
      }
    }
  }

  & article:nth-of-type(10) {
    text-align: center;
    margin: auto auto 100px;

    & section:first-of-type {
      width: 100%;
      text-align: center;

      & span {
        margin-left: 20px;
        margin-right: 20px;

      }
    }
  }

  /*************************************************************mobile*****************************************************/

  @media screen and(max-width: 500px) {
    margin-left: 0;

    & h1 {
      margin-top: 80px;
      margin-bottom: 20px;
    }


    & article:first-of-type {
      width: 100%;

      & section {
        box-sizing: border-box;
        width: 90%;
        margin: auto;

        & form:first-of-type {
          display: block;
          width: 80%;
          text-align: center;
          padding-top: 10px;


          & select {
            width: 100%;
            padding: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
          }

          & input {
            padding: 20px;
            margin-top: 10px;
            margin-bottom: 10px;

          }

          & label:nth-of-type(3) {

            & input {
              padding: 20px;
              width: 90%;
            }
          }

          & button {
            width: 100%;
            padding: 20px;
            margin-top: 10px;
            margin-bottom: 10px;

          }
        }
      }
    }

    & article:nth-of-type(1n +2) {
      width: 100%;
      flex-wrap: wrap;
      margin: auto;
      border-bottom: 5px solid #EB611C;


      & section {
        margin: auto;
        text-align: center;

      }


      & section:nth-of-type(2) {
        width: 90%;
        text-align: center;

        & p {
          text-align: left;
        }

        & h2, h3 {
          text-align: center;
        }

        & img {
          width: 20%;

        }
      }

      & section:nth-of-type(3) {
        width: 90%;
        margin: 10px auto;

        & button {
          width: 90%;
          margin: 10px 0 0;
        }
      }

      & section:first-of-type {
        width: 100%;
        margin-top: 10px;

        & img {
          width: 20%;
          margin-top: 50px;
          margin-bottom: 20px;
        }
      }
    }
    & article:nth-of-type(10) {
      padding-bottom: 10px;

      & section:first-of-type {
        width: 100%;
      }
    }

  }

  /**********************************************************tablette****************************************************/
  @media screen and(min-width: 501px) and(max-width: 800px) {

    margin-left: 0;

    & h1 {
      margin-top: 120px;
    }

    & article:first-of-type {
      width: 100%;
      margin-bottom: 10px;

      & section {


        & form {
          width: 80%;
          text-align: center;

          & select {
            width: 100%;
            padding: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
          }


          & input {

            padding: 20px;
          }

          & button {
            width: 50%;
            padding: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
          }


          & label:nth-of-type(3) {

            & input {
              margin-bottom: 20px;
            }
          }

        }
      }
    }


    & article:nth-of-type(1n +2) {
      width: 100%;
      flex-wrap: wrap;
      margin: auto;
      border-bottom: 5px solid #EB611C;


      & section {
        margin: auto;
        text-align: center;
      }


      & section:nth-of-type(2) {
        width: 90%;
        text-align: center;

        & p {
          text-align: left;
        }

        & h2, h3 {
          text-align: center;
        }

        & img {
          width: 15%;
        }
      }

      & section:nth-of-type(3) {
        width: 90%;
        margin: 10px auto;
        display: flex;

      }

      & section:first-of-type {
        width: 100%;
        margin-top: 10px;

        & img {
          width: 15%;
          margin-bottom: 30px;
          margin-top: 20px;
        }
      }
    }
    & article:nth-of-type(10) {
      padding-bottom: 10px;

      & section:first-of-type {
        width: 100%;
      }
    }
  }
}

