main {

  & h1 {
    text-align: center;
  }


  & form {
    padding: 10px;
    width: 90%;
    margin: auto;

    input {
      border: 5px solid #EB611C;
      border-radius: 10px;
      margin: 20px 20px 20px;
      padding: 20px;

    }

    & article:nth-of-type(1n +1) {
      width: 100%;
      text-align: center;
      border-top: 5px solid #EB611C;
      padding-top: 20px;
      margin: auto;


      & section {
        width: 60%;
        margin: auto;

        & img {
          padding: 20px;
          border-radius: 100%;
          background-color: #FFAA80;
          width: 10%;
          display: block;
          margin: 10px auto;
        }

      }

      & section:nth-of-type(2) {
        margin-top: 20px;

        & input {
          margin-top: 20px;
          margin-left: 0;
          margin-right: 0;
        }

        & input:first-of-type, input:nth-of-type(2) {
          width: 43%;
        }

        & input:nth-of-type(3), & input:nth-of-type(6) {
          width: 23%;
        }

        & input:nth-of-type(4), & input:nth-of-type(5) {
          width: 65%;
        }

      }
    }

    & article:nth-of-type(2) {
      margin-top: 50px;
      text-align: center;
      display: block;


      & section {
        width: 60%;

        input {
          width: 100%;
        }

        & textarea {
          width: 100%;
          height: 450px;
          padding: 20px;
          border: 5px solid #EB611C;
          border-radius: 10px;
          margin: 20px 20px 20px;
        }

        & button {
          width: 30%;
          margin: 10px;
          padding: 20px;
          color: white;
          font-size: 1.5em;
          border: none;
          border-radius: 10px;
          box-sizing: border-box;
          cursor: pointer;
          background-color: #EB611C;
        }

        & button:hover {
          border: 5px solid #EB611C;
          background-color: white;
          color: #EB611C;
          transition: .4s;
        }

      }
    }

    & article:nth-of-type(3) {
      margin-top: 50px;
      margin-bottom: 100px;

      & section {
        width: 60%;

        select {
          width: 45%;
          padding: 20px;
          border: 5px solid #EB611C;
          border-radius: 10px;
          margin-top: 20px;

        }

        input:first-of-type {
          width: 44%;
          margin-top: 20px;

        }

        input:nth-of-type(2) {
          width: 44%;
          margin-top: 20px;

        }

        input:nth-of-type(3) {
          width: 44%;
          margin-top: 20px;

        }


        & textarea {
          width: 100%;
          height: 450px;
          padding: 20px;
          border: 5px solid #EB611C;
          border-radius: 10px;
          margin: 20px 20px 20px;

        }


        & button {
          display: block;
          width: 30%;
          margin: auto;
          padding: 20px;
          color: white;
          font-size: 1.5em;
          border: none;
          border-radius: 10px;
          box-sizing: border-box;
          cursor: pointer;
          background-color: #EB611C;
        }

        & button:hover {
          border: 5px solid #EB611C;
          background-color: white;
          color: #EB611C;
          transition: .4s;
        }

        & button:nth-of-type(2) {
          margin-top: 20px;
          width: 50%;
          background-color: #4E901E;
        }

        & button:nth-of-type(2):hover {
          border: 5px solid #4E901E;
          background-color: white;
          color: #4E901E;
          transition: .4s;
        }
      }
    }
  }


  /*************************************************************mobile*****************************************************/

  @media screen and(max-width: 500px) {
    margin-left: 0;

    h1 {
      margin-top: 60px;
    }

    & form {
      width: 90%;
      margin-left: 0;
      margin-right: 0;


      & input {
        margin-left: 0;
        margin-right: 0;

      }

      & article:nth-of-type(1n +1) {
        margin: auto auto 20px;

        input, select, textarea, button {
          margin-left: 0;
          margin-right: 0;
        }

        & section {
          width: 90%;


          & img {
            width: 30%;
            margin-bottom: 10px;
          }

        }

        & section:nth-of-type(2) {
          & input:first-of-type, input:nth-of-type(2), input:nth-of-type(3), input:nth-of-type(4), input:nth-of-type(5), input:nth-of-type(6) {
            width: 90%;
            margin-left: 0;
            margin-right: 0;

          }

        }


      }

      & article:nth-of-type(2) {

        & section {
          width: 90%;

          input {
            width: 90%;

          }

          & textarea {
            width: 90%;
            height: 200px;
            margin-left: 0;
            margin-right: 0;
          }

          & button {
            width: 100%;

          }
        }
      }

      & article:nth-of-type(3) {


        & section {
          width: 90%;

          select {
            width: 90%;

          }

          input:first-of-type, input:nth-of-type(2), input:nth-of-type(3), textarea {
            width: 90%;
          }

          & textarea {
            height: 200px;
            margin-left: 0;
            margin-right: 0;

          }


          & button {
            width: 100%;
            margin-top: 20px;

          }


          & button:nth-of-type(2) {
            width: 100%;
            margin-bottom: 80px;
          }

        }
      }
    }
  }


  /*************************************************************tablette*****************************************************/

  @media screen and(min-width: 501px) and(max-width: 800px) {

    margin-left: 0;
    margin-left: 0;

    h1 {
      margin-top: 120px;
    }

    & form {
      width: 90%;


      & input {
        margin-left: 0;
        margin-right: 0;
      }

      & article:nth-of-type(1n +1) {
        margin: auto auto 20px;

        input, select, textarea, button {
          margin: 0;
        }

        & section {
          width: 90%;
          text-align: center;

          & img {
            width: 20%;

          }

        }

        & section:nth-of-type(2) {
          & input:first-of-type, input:nth-of-type(2), input:nth-of-type(3), input:nth-of-type(4), input:nth-of-type(5), input:nth-of-type(6) {
            width: 90%;
          }
        }

      }

      & article:nth-of-type(2) {

        & section {
          width: 90%;

          input {
            width: 90%;
          }

          & textarea {
            width: 90%;
            height: 200px;
            margin-left: 0;
            margin-right: 0;
          }

          & button {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
          }
        }
      }

      & article:nth-of-type(3) {


        & section {
          width: 90%;

          select {
            width: 90%;

          }

          input:first-of-type, input:nth-of-type(2), input:nth-of-type(3), textarea {
            width: 90%;
          }

          & textarea {
            height: 200px;
            margin-left: 0;
            margin-right: 0;
          }

          & button {
            width: 100%;
            margin-top: 20px;
            margin-left: 0;
            margin-right: 0;
          }

          & button:nth-of-type(2) {
            width: 100%;

          }

        }
      }
    }

  }
}
