:root {
  font-size: 16px;

  --hd-height: 0;
  --hd-min-height: 0;
  --hd-bgc: none;

  --ft-height: 5%;
  --ft-min-height: 50px;
  --ft-bgc: #ffaa80;
  --ft-width: calc(100% - var(--nv-width));

  --nv-height: 100%;
  --nv-width: 15%;
  --nv-min-width: 100px;
  --nv-bgc: #EB611C;
  --nv-padding: 5px;

  --mn-bgc: #FCF7EC;

  --z-index-frame: 1;
}

input {
  outline: none;
}

h1, a, h2, h3, button, label {
  font-family: 'Chewy', cursive;
  color: #EB611C;
}

h1 {
  font-size: 3.5em;
  margin: 2%;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

label {
  font-size: 1.3em;
}

@media screen and (max-width: 851px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
}

p, span {
  font-family: Arial, sans-serif;
  font-size: 1em;
}

span {
  font-weight: bold;
}

body {
  width: 100%;
  margin: 0;
  font-size: 0;
  background-color: var(--mn-bgc);

  & > * {
    font-size: 1rem;
  }
}

.full-line-center {
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
}
