<main>

  <img class="full-line-center" src="../assets/img/kitsitter_logo.png" alt=""/>

  <h1>Retrouvez la sérénité pendant vos vacances</h1>

  <article>
    <section>
      <img src="../assets/img/protection.svg">
      <h2>100% sécurisé</h2>
      <span>Fuerint se diligat aut ferunt metuat plerumque aut intellexisse se.</span>
    </section>
    <section>
      <img src="../assets/img/balance.svg">
      <h2>Respect de la déontologie</h2>
      <span>Fuerint se diligat aut ferunt metuat plerumque aut intellexisse se.</span>
    </section>

    <section>
      <img src="../assets/img/folder.svg">
      <h2>Confidentialité garentie</h2>
      <span>Fuerint se diligat aut ferunt metuat plerumque aut intellexisse se.</span>
    </section>
  </article>


  <article>

    <form method="post">
      <h3>Rechercher un petsitter</h3>

      <input type="text" placeholder="où"/>
      <label>De</label>
      <input type="date" placeholder="à partir"/>
      <label>Jusque</label>
      <input type="date" placeholder="jusque"/>
      <button type="submit">valider</button>
    </form>
  </article>

  <article>
    <section>
      <button>Je suis petsitter je veux garder des animaux</button>
    </section>
    <section>
      <button>Je veux faire garder mes animaux</button>
    </section>
  </article>
</main>
