<header></header>
<nav>
  <a href="#" id="menu-button" title="Menu"><img src="../assets/img/bars-solid.svg" alt=""/></a>
  <a href="#" title="Accueil"><img src="../assets/img/home-solid.svg" alt=""/></a>
  <a href="#" title="Recherche"><img src="../assets/img/search-solid.svg" alt=""/></a>
  <a href="#" title="Calendrier"><img src="../assets/img/calendar-alt-regular.svg" alt=""/></a>
  <a href="#" title="Mail"><img src="../assets/img/envelope-open-text-solid.svg" alt=""/></a>
  <a href="#" title="Paramètres"><img src="../assets/img/cog-solid.svg" alt=""/></a>
  <a class="apart" href="login.html" title="Connexion"><img src="../assets/img/sign-in-alt-solid.svg" alt=""/></a>
  <a class="apart" href="login.html" title="Déconnexion"><img src="../assets/img/sign-out-alt-solid.svg" alt=""/></a>
</nav>
<main>
  <img class="full-line-center" src="../assets/img/kitsitter_logo.png" alt="" style="width:30%;min-width:100px"/>

  <h1>Retrouvez la sérénité pendant vos vacances</h1>

  <article>
    <section><img src="../assets/img/protection.svg">
      <h2>100% sécurisé</h2></section>
    <section><img src="../assets/img/balance.svg">
      <h2>Respect de la déontologie</h2></section>
    <section><img src="../assets/img/folder.svg">
      <h2>Confidentialité garentie</h2></section>
  </article>
</main>
<footer></footer>
