<header></header>
<nav>
  <a href="#" id="menu-button" title="Menu"><img src="../assets/img/bars-solid.svg" alt=""/></a>
  <a href="#" title="Accueil"><img src="../assets/img/home-solid.svg" alt=""/></a>
  <a href="#" title="Recherche"><img src="../assets/img/search-solid.svg" alt=""/></a>
  <a href="#" title="Calendrier"><img src="../assets/img/calendar-alt-regular.svg" alt=""/></a>
  <a href="#" title="Mail"><img src="../assets/img/envelope-open-text-solid.svg" alt=""/></a>
  <a href="#" title="Paramètres"><img src="../assets/img/cog-solid.svg" alt=""/></a>
  <a class="apart" href="login.html" title="Connexion"><img src="../assets/img/sign-in-alt-solid.svg" alt=""/></a>
  <a class="apart" href="login.html" title="Déconnexion"><img src="../assets/img/sign-out-alt-solid.svg" alt=""/></a>
</nav>
<main>
  <img class="full-line-center" src="../assets/img/kitsitter_logo.png" alt="" style="width:30%;min-width:100px"/>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur corporis dolores eligendi
    facere
    incidunt nesciunt officiis quis ullam veritatis. Accusantium aperiam architecto aut consequatur cum, debitis
    distinctio earum esse ex harum incidunt minus nesciunt odio omnis pariatur perferendis, porro quaerat quas quis
    quo
    quod recusandae rerum sed, soluta tempora temporibus tenetur voluptatem! Consectetur dolor fugiat illum laborum
    libero, quibusdam rerum soluta? Architecto consequuntur cum et explicabo hic inventore mollitia odit pariatur
    quisquam sapiente! At commodi, corporis delectus expedita iusto magni molestiae obcaecati pariatur, perspiciatis
    possimus quidem quos totam voluptatibus! A assumenda atque aut cumque debitis facere illo itaque laborum magnam
    molestiae non numquam officiis possimus, rem sequi ullam vitae voluptas. Deserunt dolorem exercitationem fuga
    fugiat
    praesentium ratione saepe, voluptatum? Accusamus, accusantium alias amet animi architecto assumenda blanditiis
    commodi corporis cupiditate dolore eligendi eos harum in ipsam iste magni nam necessitatibus nobis officiis
    praesentium, quas qui recusandae reiciendis sapiente sed sequi sunt tempora temporibus vero voluptate? Animi
    architecto consequatur culpa eaque earum eligendi error ex, facere facilis fuga fugiat id illum ipsa laborum,
    libero
    magnam minus nobis numquam obcaecati perferendis porro, quae quasi recusandae repellendus sint tenetur vero
    voluptatum. Aut consectetur inventore iste! Amet asperiores ea earum in voluptas voluptatum. Ab blanditiis
    dolores
    eius enim esse, et ex facere fugiat illum necessitatibus neque officia qui ratione recusandae tempora, vero
    voluptatum. Accusamus accusantium architecto hic ipsam odio? Accusamus assumenda consectetur culpa, eos eum
    laborum
    nihil nostrum quis quo voluptatem? Atque consequuntur et expedita facere laudantium nemo optio temporibus? Dolor
    eum
    mollitia nisi repellendus soluta. At cum, deserunt ducimus harum id ipsam mollitia, nam nostrum provident quo
    recusandae repellendus temporibus, totam ullam voluptate. Accusamus ad aliquam asperiores atque aut autem
    consequuntur cumque distinctio, dolorum eaque enim error fugit id, illum ipsum natus nemo nesciunt nisi pariatur
    quibusdam quisquam quod rem repellat ullam!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur corporis dolores eligendi
    facere
    incidunt nesciunt officiis quis ullam veritatis. Accusantium aperiam architecto aut consequatur cum, debitis
    distinctio earum esse ex harum incidunt minus nesciunt odio omnis pariatur perferendis, porro quaerat quas quis
    quo
    quod recusandae rerum sed, soluta tempora temporibus tenetur voluptatem! Consectetur dolor fugiat illum laborum
    libero, quibusdam rerum soluta? Architecto consequuntur cum et explicabo hic inventore mollitia odit pariatur
    quisquam sapiente! At commodi, corporis delectus expedita iusto magni molestiae obcaecati pariatur, perspiciatis
    possimus quidem quos totam voluptatibus! A assumenda atque aut cumque debitis facere illo itaque laborum magnam
    molestiae non numquam officiis possimus, rem sequi ullam vitae voluptas. Deserunt dolorem exercitationem fuga
    fugiat
    praesentium ratione saepe, voluptatum? Accusamus, accusantium alias amet animi architecto assumenda blanditiis
    commodi corporis cupiditate dolore eligendi eos harum in ipsam iste magni nam necessitatibus nobis officiis
    praesentium, quas qui recusandae reiciendis sapiente sed sequi sunt tempora temporibus vero voluptate? Animi
    architecto consequatur culpa eaque earum eligendi error ex, facere facilis fuga fugiat id illum ipsa laborum,
    libero
    magnam minus nobis numquam obcaecati perferendis porro, quae quasi recusandae repellendus sint tenetur vero
    voluptatum. Aut consectetur inventore iste! Amet asperiores ea earum in voluptas voluptatum. Ab blanditiis
    dolores
    eius enim esse, et ex facere fugiat illum necessitatibus neque officia qui ratione recusandae tempora, vero
    voluptatum. Accusamus accusantium architecto hic ipsam odio? Accusamus assumenda consectetur culpa, eos eum
    laborum
    nihil nostrum quis quo voluptatem? Atque consequuntur et expedita facere laudantium nemo optio temporibus? Dolor
    eum
    mollitia nisi repellendus soluta. At cum, deserunt ducimus harum id ipsam mollitia, nam nostrum provident quo
    recusandae repellendus temporibus, totam ullam voluptate. Accusamus ad aliquam asperiores atque aut autem
    consequuntur cumque distinctio, dolorum eaque enim error fugit id, illum ipsum natus nemo nesciunt nisi pariatur
    quibusdam quisquam quod rem repellat ullam!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur corporis dolores eligendi
    facere
    incidunt nesciunt officiis quis ullam veritatis. Accusantium aperiam architecto aut consequatur cum, debitis
    distinctio earum esse ex harum incidunt minus nesciunt odio omnis pariatur perferendis, porro quaerat quas quis
    quo
    quod recusandae rerum sed, soluta tempora temporibus tenetur voluptatem! Consectetur dolor fugiat illum laborum
    libero, quibusdam rerum soluta? Architecto consequuntur cum et explicabo hic inventore mollitia odit pariatur
    quisquam sapiente! At commodi, corporis delectus expedita iusto magni molestiae obcaecati pariatur, perspiciatis
    possimus quidem quos totam voluptatibus! A assumenda atque aut cumque debitis facere illo itaque laborum magnam
    molestiae non numquam officiis possimus, rem sequi ullam vitae voluptas. Deserunt dolorem exercitationem fuga
    fugiat
    praesentium ratione saepe, voluptatum? Accusamus, accusantium alias amet animi architecto assumenda blanditiis
    commodi corporis cupiditate dolore eligendi eos harum in ipsam iste magni nam necessitatibus nobis officiis
    praesentium, quas qui recusandae reiciendis sapiente sed sequi sunt tempora temporibus vero voluptate? Animi
    architecto consequatur culpa eaque earum eligendi error ex, facere facilis fuga fugiat id illum ipsa laborum,
    libero
    magnam minus nobis numquam obcaecati perferendis porro, quae quasi recusandae repellendus sint tenetur vero
    voluptatum. Aut consectetur inventore iste! Amet asperiores ea earum in voluptas voluptatum. Ab blanditiis
    dolores
    eius enim esse, et ex facere fugiat illum necessitatibus neque officia qui ratione recusandae tempora, vero
    voluptatum. Accusamus accusantium architecto hic ipsam odio? Accusamus assumenda consectetur culpa, eos eum
    laborum
    nihil nostrum quis quo voluptatem? Atque consequuntur et expedita facere laudantium nemo optio temporibus? Dolor
    eum
    mollitia nisi repellendus soluta. At cum, deserunt ducimus harum id ipsam mollitia, nam nostrum provident quo
    recusandae repellendus temporibus, totam ullam voluptate. Accusamus ad aliquam asperiores atque aut autem
    consequuntur cumque distinctio, dolorum eaque enim error fugit id, illum ipsum natus nemo nesciunt nisi pariatur
    quibusdam quisquam quod rem repellat ullam!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur corporis dolores eligendi
    facere
    incidunt nesciunt officiis quis ullam veritatis. Accusantium aperiam architecto aut consequatur cum, debitis
    distinctio earum esse ex harum incidunt minus nesciunt odio omnis pariatur perferendis, porro quaerat quas quis
    quo
    quod recusandae rerum sed, soluta tempora temporibus tenetur voluptatem! Consectetur dolor fugiat illum laborum
    libero, quibusdam rerum soluta? Architecto consequuntur cum et explicabo hic inventore mollitia odit pariatur
    quisquam sapiente! At commodi, corporis delectus expedita iusto magni molestiae obcaecati pariatur, perspiciatis
    possimus quidem quos totam voluptatibus! A assumenda atque aut cumque debitis facere illo itaque laborum magnam
    molestiae non numquam officiis possimus, rem sequi ullam vitae voluptas. Deserunt dolorem exercitationem fuga
    fugiat
    praesentium ratione saepe, voluptatum? Accusamus, accusantium alias amet animi architecto assumenda blanditiis
    commodi corporis cupiditate dolore eligendi eos harum in ipsam iste magni nam necessitatibus nobis officiis
    praesentium, quas qui recusandae reiciendis sapiente sed sequi sunt tempora temporibus vero voluptate? Animi
    architecto consequatur culpa eaque earum eligendi error ex, facere facilis fuga fugiat id illum ipsa laborum,
    libero
    magnam minus nobis numquam obcaecati perferendis porro, quae quasi recusandae repellendus sint tenetur vero
    voluptatum. Aut consectetur inventore iste! Amet asperiores ea earum in voluptas voluptatum. Ab blanditiis
    dolores
    eius enim esse, et ex facere fugiat illum necessitatibus neque officia qui ratione recusandae tempora, vero
    voluptatum. Accusamus accusantium architecto hic ipsam odio? Accusamus assumenda consectetur culpa, eos eum
    laborum
    nihil nostrum quis quo voluptatem? Atque consequuntur et expedita facere laudantium nemo optio temporibus? Dolor
    eum
    mollitia nisi repellendus soluta. At cum, deserunt ducimus harum id ipsam mollitia, nam nostrum provident quo
    recusandae repellendus temporibus, totam ullam voluptate. Accusamus ad aliquam asperiores atque aut autem
    consequuntur cumque distinctio, dolorum eaque enim error fugit id, illum ipsum natus nemo nesciunt nisi pariatur
    quibusdam quisquam quod rem repellat ullam!</p>
</main>
<footer></footer>
