footer {

  position: fixed;
  bottom: 0;
  height: var(--ft-height);
  min-height: var(--ft-min-height);
  background-color: var(--ft-bgc);
  z-index: var(--z-index-frame);
}

footer::before {
  content: 'Copyright Kitsitter 2019';
  display: block;
  line-height: var(--ft-min-height);
  width: 100%;
  text-align: center;
  font-family: 'Chewy', cursive;
}

@media screen and (min-width: 801px) {
  footer {
    margin-left: var(--nv-width);
    width: calc(100% - var(--nv-width));

    &.collapsed{
      //nécessaire pour le fonctionnement de la nav rétractable
      //nav.component.ts
      margin-left: var(--nv-min-width);
      width: calc(100vw - var(--nv-min-width));
    }
  }
}

@media screen and (max-width: 800px) {
  footer {
    width: 100%;
  }
}
