<main>

  <form>
    <h1>Création du profil</h1>
    <article>

      <section>
        <img src="../assets/img/user.svg">
        <input input type="file" name="file" id="file" class="inputfile">
        <!-- <label  for="file">choisir une image</label>-->
      </section>
      <section>
        <input type="text" placeholder="Nom">
        <input type="text" placeholder="Prénom">
        <input type="text" placeholder="Téléphone">
        <input type="email" placeholder="adresse email">
        <input type="text" placeholder="Votre ville">
        <input type="date">
      </section>
    </article>
    <article>
      <h2>Je suis kitsitter</h2>
      <section>
        <input type="text" placeholder="nombre d'année d'expérience">
        <select>
          <option>les animaux que je peux garder</option>
          <option>chien</option>
          <option>chat</option>
          <option>oiseaux</option>
          <option>renard</option>
          <option>pokemon</option>
          <option>lezard</option>
        </select>
        <textarea placeholder="présentez-vous"></textarea>
        <textarea placeholder="décrivez votre expérience"></textarea>
        <button>Ajouter une expérience</button>
      </section>
    </article>

    <article>
      <h2>Mes animaux</h2>
      <section>
        <select>
          <option>chien</option>
          <option>chat</option>
          <option>oiseaux</option>
          <option>renard</option>
          <option>pokemon</option>
          <option>lezard</option>
        </select>
        <input type="text" placeholder="nom de l'animal">
        <input type="text" placeholder="race">
        <input type="text" placeholder="age">
        <textarea placeholder="caractère de l'animal"></textarea>
       <label> <input input type="file" name="file" class="inputfile">ajouter une photo de votre animal</label>
        <button>Ajouter un animal</button>
        <button type="submit">Valider le profil</button>
      </section>
    </article>
  </form>
</main>
